# dependencies
Client/node_modules
Server/node_modules
/.pnp
.pnp.js

# testing
quiztopia/coverage
Client/src/DBTest.js

# production
quiztopia/build

# misc
quiztopia/.DS_Store
quiztopia/.env.local
quiztopia/.env.development.local
quiztopia/.env.test.local
quiztopia/.env.production.local

quiztopia/npm-debug.log*
quiztopia/yarn-debug.log*
quiztopia/yarn-error.log*