# dependencies
Client/node_modules
Server/node_modules
/.pnp
.pnp.js

# testing
quiztopia/coverage
Client/src/DBTest.js

# production
Client/build

# misc
Client/.DS_Store
Client/.env.local
Client/.env.development.local
Client/.env.test.local
Client/.env.production.local

Client/npm-debug.log*
Client/yarn-debug.log*
Client/yarn-error.log*